html, body 
*{ 

    background-color:rgb(240, 240, 240);
    max-width: 100%; 
    height: 100%;
    
   
}
.aboutcard{
    position: relative;
    width: 100%;
    margin-top: 55px;
   
    text-align: center;
    color: silver;
    
}

.missioncard{
    position: relative;
    width: 100%;
    margin-top: 55px;
  
    text-align: center;
    color: black;
   
}

.surveycard{
    position: relative;
    width: 100%;
    margin-top: 55px;
   
    color: silver;
    text-align: center;
    padding-bottom: 33px;
 
}

.card-text{
    font-size: 24px;
}
.btn.btn-outline-dark,.btn.btn-outline-dark:active .btn.btn-outline-dark:hover{
    border-radius: 23px;
   
   color:slateblue

}