body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-color:aliceblue;
   
  }
  .icon-container{
   margin-top: 199px;
    text-align: center;
    border: 2px;
   
    font-size: 150px;
  }
  .btn.btn-outline-info.btn-lg{
    position: relative;
    float: left;
  }
