
* {
max-width: 100%;
  box-sizing: border-box;
  background-color: mintcream;
}

.header{

  margin-left: 77px;
  text-align: center;
  font-weight: bolder;
}

input[type=text], select, .textarea {
  float: right;
  margin-right: 57px;
  margin-top: 45px;
  background-color: white;
  text-indent: 12px;
  width: 50%;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 14px;

}



input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  
  padding: 2px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Style the submit button with a specific background color etc */
.btn.btn-outline-success {
  float: right;
  width: 20%;
   margin-top: 350px;
  margin-right: -255px;
 border-radius: 33px;
  
  
  
   cursor: pointer;
 }
 .btn.btn-outline-secondary{
  float: right;
   width: 20%;
   margin-top: 14px;
   margin-right: 180px;
   border-radius: 33px;
 }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 