* {
 position: relative;
  background-color: mintcream;
  margin: 0, auto !important;
  float: none !important;
  max-width: 100%;
  
  
  
}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  
    width: 40%; /* Full width */
    background-color:white;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 24px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 16px; /* Add a top margin */
    margin-left: 375px;
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
  }
  .message{
    
    margin-left: 375px;
  }
  
  /* Style the submit button with a specific background color etc */
  .btn.btn-outline-success {
  
   width: 20%;
    margin-top: -27px;
   margin-left: 500px;
  border-radius: 33px;
   
   
   
    cursor: pointer;
  }
  .btn.btn-outline-secondary{
   
    width: 20%;
    margin-top: 74px;
    margin-left: -260px;
    border-radius: 33px;
  }
 
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  
  }
  .contactheader{
      text-align: center;
      font-weight: bold;
     
  }
  
  /* Add a background color and some padding around the form */
.container{
  background-color: lightgray;
}
 
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .input[type=text], select, textarea .contactheader {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

 