
* {
max-width: 100%;
  box-sizing: border-box;
  background-color: mintcream;
}

.header{

  text-align: center;
  font-weight: bolder;
}

input[type=text], select, .textarea {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  background-color: white;
 
  width: 55%;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 24px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  
  padding: 2px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Style the submit button with a specific background color etc */
.btn.btn-outline-success {

  width: 25%;
   margin-top: 25px;
  margin-left: 520px;
 border-radius: 33px;
  
  
  
   cursor: pointer;
 }
 .btn.btn-outline-secondary{

   width: 25%;
   margin-top: 14px;
   margin-left: 520px;
   border-radius: 33px;
 }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 