html, body 
{ 
    position:relative;
    background-color: white;
    max-width: 100%; 
    margin: 0 auto !important; 
    float: none !important; 
    height: 100%;
   
    padding: 0;
    z-index: -1; /* element with greater value sent to front */
    font-family: Arial, Helvetica, sans-serif;
 
    
}
.bi.bi-headset{
    position: relative;
    float: right;
    margin-top: 13px;

}
.img
{
    position:static;
    width:100%;
    height: 100%;
    margin:0;
    padding:0px;
    z-index: 5;
   
  
  
 
}

.label{
    position: absolute;
    top: 535px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    
}


.navhead{
    position: relative;
    background-color:white;
    width: 100%;;
    padding: 45px;
    z-index: 2;   /* element with lesser value sent to back*/
    
 }
 .nav-item, .nav-link,.nav.justify-content-center{
     float: right;
     color:black;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

 }
 .nav-link:hover,.a:hover{
     color:silver;
 }



 .navheader{
     position: static;
     float: left;
     margin-top: -2px;;
  
     font-family: 'Trebuchet MS';
     font-size: 33px;
    text-align: center;
    border-color:black;
     border-style: solid;
     border-right: 2px;
     border-left: 2px;
     border-top: 2px;;
  
     
 
   
 }
 .subheader{
     position:absolute;
     margin-top: 35px;
     margin-left: 38px;
   
     font-size: 8px;
 }



.p1{
    position: relative;
    margin-top: 90px;;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
   
    text-align: center;
}

.bi.bi-envelope-fill{
    color: black;
    margin-top: 122px;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

  .footer{
    background-color:rgba(255, 255, 255, 0.931);
    padding: 100px;
    text-align: center;
    color: black
    
  }
  .footer-contact.a:hover{
    color: lightgray;

  }

 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
 .icon-bar {
     position: fixed;
     top: 30%;
     left:0%;
     width: -200px;
     display: flex;
     flex-direction: column;
    
  }

  .icon-bar a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    font-family: sans-serif;
    margin: 2px;
    text-align: right;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-130px, 0px);
    transition: all 0.5s;
    z-index: 3;
  }
  
  /* Style the icon bar links */
  .icon-bar a i {
    margin-left:125px ;
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s;
   
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    transform: translate(0px, 0px);
    background-color: white;
  }

  .icon-bar a:hover i {
   transform: rotate(360deg);



  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .linkedin {
    background: #007bb5;
    
  }
 
  .instagram  {
    background:rgb(131, 13, 131);
    color:purple;
  
  }
  

  
  .youtube {
    background: #bb0000;
    color: white;
  } 

  


  


  
